
// 背景：头部
$color-bg-header: #3a8ee6;
// 背景：主体
$color-bg-body: #f9f9f9;
// 背景：激活块
$color-bg-active: #66b1ff;
// 背景：蓝色
$color-bg-blue: #409eff;
$color-bg-lightblue: #e3f1ff;
$color-bg-white: #ffffff;
// 背景：表格标题
$color-bg-title: #d2d8dd;

// 边框：淡蓝
$color-bd-lightblue: #e8ebf1;
// 边框：蓝
$color-bd-blue: #43a1ff;
// 边框：深蓝
$color-bd-deepblue: #1574d8;

// 边框阴影
$color-bd-shadow-whiter: #0000001a;

// 文字颜色：白
$color-word-white: #ffffff;
// 文字颜色：灰
$color-word-grey: #757070;
// 文字颜色：黑
$color-word-black: #000000;
// 文字颜色：紫
$color-word-purple: #000caf;
// 文字颜色：红
$color-word-red: #ff0000;
