.el-divider--horizontal {
  display: block;
  height: 1px;
  width: calc(100% - 60px);
  margin: 12px 30px 24px;
}

.el-header,
.el-main,
.el-footer {
  padding: 0;
}

.el-message-box {
  .el-button--primary {
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
  }
}

.el-menu {
  border-right: initial;
}

.el-form-item {
  margin-bottom: 16px;
}
.el-form-item__content {
  &>div:first-child {
    width: 100%;
  }
  &__label {
    padding: 0;
    width: 32px;
  }
}

// 树形列表的列表项展示样式-----------start
@mixin width-in-table-item ($width) {
  width: calc(100% - #{$width});
}

@mixin sitir-table-item ($width) {
  .sitir-table__item {
    @include width-in-table-item($width);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    text-align: left;
  }
}
// 树形列表的列表项展示样式-----------end

.el-table {
  font-size: 16px;
  // font-family: 'monospace, 宋体';
  &--border {
    th:nth-last-child(2) {
      border-right: none;
    }
  }
  &__fixed-header-wrapper {
    th:nth-last-child(1) {
      border-right: none;
    }
  }
  th,
  td {
    text-align: left;
  }
  th {
    background-color: #ececec !important;
    font-weight: 600;
    color: #636569;
    &.el-table__cell {
      border-right: 1px solid #e2e2e2;
    }
  }
  .el-button--text {
    font-size: 14px;
    font-family: inherit;
  }
  &__expand-icon {
    position: relative;
  }
  &-column--selection {
    .cell {
      padding-left: 10px;
    }
  }
  &__expand-icon+.sitir-table__item {
    width: calc(100% - 43px);
  }
  &__row--level-0 {
    @include sitir-table-item(20px);
  }
  &__row--level-1 {
    @include sitir-table-item(36px);
  }
  &__row--level-2 {
    @include sitir-table-item(52px);
  }
  &__expand-icon+.sitir-table__item {
    width: calc(100% - 43px);
  }
  .cell {
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      // 树形结构换行问题
      // display: -webkit-box;
      display: inline-block;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }
  // 排序：适应高度
  .caret-wrapper {
    height: 100%;
    .sort-caret.ascending {
      top: 2px;
    }
    .sort-caret.descending {
      bottom: 4px;
    }
  }
}

.sitir-table__item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  text-align: left;
}

.el-textarea {
  .el-input__count {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    background: #66b1ff;
    right: 0;
    bottom: 0;
    width: 48px;
    text-align: center;
    color: white;
    border-top-left-radius: 4px;
  }
}

// 树结构

.el-tree {
  &>&-node {
    padding-left: 0;
  }
  &-node{
    position: relative;
    padding-left: 16px;
  }
  &-node__children{
    padding-left: 16px;
  }
  &-node :last-child:before {
    height: 38px;
  }
  &>&-node:before{
    border-left: none;
  }
  &>&-node:after{
    border-top: none;
  }
  &-node:before,&-node:after{
    content: "";
    left: -4px;
    position: absolute;
    right: auto;
    border-width: 1px;
  }
  .tree :first-child &-node:before{
    border-left: none;
  }
  &-node:before {
    border-left: 1px dashed #4386c6;
    bottom: 0px;
    height: 100%;
    top: -24px;
    width: 1px;
  }
  &-node:after {
    border-top: 1px dashed #4386c6;
    height: 20px;
    top: 12px;
    width: 24px;
  }
}

.el-icon-remove {
  color: #ff5858 !important;
}

.el-table {
  thead {
    th:empty {
      display: none !important;
      width: 0 !important;
    }
  }
}

.el-dropdown-menu {
  min-width: 86px;
}

.el-tabs {
  &__header {
    margin: 0 0 1px;
  }
}

.btn-group {
  .el-dropdown.btn-plain {
    background-color: unset;
  }
  .el-button--mini, .el-button--small {
    font-size: 14px;
    span {
      font-size: 12px;
    }
  }
}

.table-item-link {
  color: #63b0ff;
  text-decoration: underline;
}

.ellipsis-4-words {
  width: 75px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
